body {font-family: 'Roboto', sans-serif;
    background-color: aqua;
    width: 600px;
    margin: 0 auto;
}

header {
    color: black;
    border: 2px solid black;
    background-color: yellowgreen;
    padding: 10px;
    text-align: center;
    padding-top: 10px;
}

nav {padding-top: 10px;
 
}

main { color:black;
     
}
footer {
    background-color: blueviolet;
}
h2 {text-align: center;}